@charset "UTF-8";
/*code for page style*/
/*Navigation bar style start*/
header {
  background: var(--background);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 10;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 0.7em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

nav a:hover {
  color: black;
}

.nav-toggle:checked ~ nav {
  /*Ieskoma nav po input eilute*/
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out 250ms;
  transition: opacity 250ms ease-in-out 250ms;
}

/*If the screen width is biger than 800px*/
@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto minmax(600px, 3fr) 1fr;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .logo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 /3;
  }
  nav {
    all: unset;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: #5c4949;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: -webkit-transform ease-in-out 250ms;
    transition: -webkit-transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
  }
  nav a:hover::before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

:root {
  --background: rgba(230, 154, 141, 0.7);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #5f4b8bff;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.logo {
  margin: 0;
  padding: 0;
}
/* Sections */
html {
  scroll-behavior: smooth;
}

h1 {
  background-color: white;
}

#section1 {
  width: 100%;
  height: 100vh;
  background-blend-mode: multiply;
  background-size: cover;
  background-image: url(Images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg);
  background-attachment: fixed;
  /* Jpg failą užrakina vietoje */
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#section2 {
  height: 100vh;
  width: 100%;
  background-color: blue;
  background-blend-mode: multiply;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#section3 {
  height: 70vh;
  background-color: white;
  width: 100%;
  background-blend-mode: multiply;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
/*# sourceMappingURL=mainStyle.css.map */